body{
	background-color: gray;
	font-family: arial;
	padding: 0px;
	margin: 0px; //prawim_зануляване_на_стиловете_отБраузър
}
.active {
	background-color: cadetblue;
}

#navbar {
	background-color: #333;
	position: fixed;
	top: 0;
	width: 100%;
	display: block;
	transition: top 0.3s;
	margin-right: 8px;
}

#navbar a {
	float: right;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 15px;
	text-decoration: none;
	font-size: 17px;
}

#navbar a:hover {
	background-color: #ddd;
	color: black;
}

.footer {
	position: fixed;
	left: 0;
	bottom: -50px; /* Initially hide the footer off-screen */
	width: 100%;
	background-color: white;
	color: black;
	text-align: center;
	text-decoration: none;
	transition: bottom 0.3s; /* Add transition for smooth animation */
}

.footer a:hover {
	background-color: #ddd;
	color: black;
	border-radius: 4px;
}

.margin {
	margin-top: 50px;
	margin-bottom: 50px;
}

.center {
	width: 200px;
	margin: auto;
	margin-top: 100px;
}
